<form method="post">
    <fieldset class="sectionChamado">
        <legend>Alterar Dados</legend>
        <label class="labels labelAlterDados">Nome Completo</label>
        <input type="text" name="novoNome" class="form-control inputAlterDados">
        <label class="labels labelAlterDados">Matrícula</label>
        <input type="text" name="novaMatricula" class="form-control inputAlterDados">
        <label class="labels labelAlterDados">Vinculo com a UnB</label>
        <br>
        <input type="radio" name="novoVinculo" value="aluno"> <span class="labels" style="font-size:14px;">Aluno</span>
        <input type="radio" name="novoVinculo" value="servidor" style="margin-left:60px"> <span class="labels" style="font-size:14px;">Servidor</span>
        <br>
        <label class="labels labelAlterDados">Email</label>
        <input type="text" name="novoEmail" class="form-control inputAlterDados">
        <input type="submit" value="Alterar" class="w3-btn w3-teal btnAlter">
    </fieldset>
</form>