/*********HEADER_INDEX****************/
header {
    border-bottom: 3px solid #D2D5C1;
    width: 100%;
    margin-top: 0;
    padding: 20px;
}

.icone-computador {
    float:left; 
    margin-left:5%;
}

header h1 {
    font-family: varela;
    font-size: 100px;
    font-weight: 700;
    margin-left: 250px;
    margin-top: 0;
}

#fga-logo{
    color:#005B4A; 
    font-family: varela; 
}
/******************************/

/**********CRIAR CONTA***********/
.btnCreateAccount{
    position: absolute;
    bottom: 4%;
    margin-left:-13%;
    margin-right: auto;
    color: #009588;
    cursor:pointer;
}

#createAccount{
    border-top: 1px solid #009588;
    margin: 70px 15px 0px 15px;
}

.lblCreateAccount{
    position: relative; 
    top:-10px; 
    margin-left:37%; 
    background-color: #F1F0E5; 
    padding: 0px 10px; 
    color:#009588;
}
/*********************************/

body {
    min-width: 979px;
}

/********MENSAGEM DE ERRO ***************/
.alert{
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    font-size: 16px;
    text-align: center;
    margin-top: 2px;
}



/********************************/