*{
	font-family: poppin;
}


.labels {
	font-size: 18px;
	font-family: poppin;
	font-weight: 300;
}

/**********FONTES*************/
@font-face{
	font-family: poppin;
	src: url(../Fonts/google-fonts/poppins/Poppins-light.ttf);
	font-weight: 300;
}

@font-face{
	font-family: 'roboto condensed';
	src: url(../Fonts/google-fonts/roboto-condensed/RobotoCondensed-Bold.ttf);
	font-weight:700;
}
/*******************************/

/*************RODAPE*************/
footer {
	border-top: 1px solid green;
	position: absolute;
	top: 680px; 
	width: 97%;
	margin-left: 20px;
	margin-right: 40px;
	font-size: 13px;
	padding-top: 15px;
}

.footerContent {
	margin-left:38%; 
	color: #A4A4A4;
}
/********************************/

