body{
    min-width: 1080px;
}

#card-chamado{
    width: 60%;
    height: 530px;
    border: 1px solid #D2D5C1;
    position: relative;
    top: 50px;
    left: 20px;
}

#card-acoes{
    width: 32%;  
    height:250px;  
    border: 1px solid #D2D5C1;
    float: right;
    margin-right: 2%;
    margin-top: -480px;
    position: relative;
}

#card-config-conta{
    width: 32%;
    height:250px;  
    border: 1px solid #D2D5C1;
    float: right;
    position: relative;
    top: -200px;
    right: 2%;
}

.icones{
    margin-left: 24px;
}

.btnConfigConta{
    width: 50px;
    position: absolute;
    bottom: 18%;
    left: 25%;
	
}

.btnAlterSenha{
    margin-top: 30px;
    width: 180px;
}

.btnAlterDados{
    width:180px;
}

.btnAcoes{
    width: 30%;
    position: absolute;
    top: 42%;
    left: 26%;	
}

.iconsButtons{
    position: absolute;
    right: 5px;
}

/***** FORM DE CHAMADO - DADOS DO PATRIMONIO ***********/
#formChamadoLeftUpper {
    float: left;
    width: 50%;
    height: 160px;
    position: relative;
}

#formChamadoRightUpper {
    float: right;
    width: 50%;
    height: 160px;
    position: relative;
}

.inputChamado {
    width: 85%;
    border: 2px solid #D2D5C1;
}

.inputChamadoleftUpper{
    margin-left: 5%;
    margin-bottom: 20px;
}

.inputChamadoRightUpper{
    margin-left: 10%;
    margin-bottom: 24px;
}

.labelChamadoLeftUpper{
    margin-left: 5%;
    margin-top: 5px;     
}

.labelChamadoRightUpper{
    margin-left: 10%;
    margin-top: 3px;	
}
/*******************************************************/


.sectionChamado {
    margin-left: 20px;
    font-weight: bold;
    width: 97%;
}

/***FORM CHAMADO - LOCALIZACAO E DESCRICAO DO PROBLEMA***/
#chamadoLocalizacao{
    float: left;
    width: 20%;
    height: 140px; 
}

.inputLocal {
    width: 54%;
    margin-left: 10%;
    margin-top: -21px;
}

.labelLocal{
    margin-left: 10%;
    margin-bottom: 20px;
}

#chamadoDescricao{
    float: right;
    width: 80%;
    position: relative;
    height: 140px;
}

.labelDescricao{
    margin-left: 3%;
}

.descricao{
    float: right;
    width: 75%;
    margin-right: 3%;
    resize: none;
    font-size: 12px;
}
/*********************************************/

/*** FORM CHAMADO - BOTAO ENVIAR *************/
.btnEnviar{
    margin-left: 86%;
    margin-top: 1px;
}
/*********************************************/

/******* FORM - ENTRAR EM CONTATO ************/
#formContato{
    display: none;
}

.inputAssunto{
    width: 90%;
    margin-left: 5%;
    border: 2px solid #D2D5C1;
}

.labelContato{
    margin-left: 5%;	
}

.mensagem{
    width: 90%;
    margin-left: 5%;	
    resize:none;
    font-size:12px;
}

.btnEnviarMensagem{
    float:right;
    margin-top: 4%;
    margin-right: 5%;	
}

.cancelarMensagem{
    position: absolute;
    bottom: 32px;
    left: 180px;	
}
/***********************************************/


/*********** FORM PARA MUDAR SENHA *************/
.inputSenha{
    width:60%;
    margin-left: 20%;
    border: 2px solid #D2D5C1;
}

.labelSenha{
    margin-left: 20%;
    margin-top: 5%;
}

.btnEnviarSenha{
    float: right;
    margin-right: 20%;
    margin-top: 4%;
}

.cancelarSenha{
    margin-left: 32%;
    margin-top: 4%;	
}

#formChangePassword{
    display:none;
}
/***********************************************/

/******* FORM PARA ALTERAR OS DADOS ************/
#formAlterDados{
    display:none;
}

.inputAlterDados{
    width:85%;
    border: 2px solid #D2D5C1;
}

.labelAlterDados{
    margin-top: 3%;
}

.btnAlter{
    float:right;
    margin-right: 15%;
    margin-top: 10%;
}

.cancelAlterDados{
    float: right;
    margin-right: 40%;
    margin-top:-8%;	
}
/**********************************************/

/************** HISTORICO *********************/
#card-historico{
    display: none;
}

.btnVoltar{
    position: absolute;
    top: 90%;
    right: 2%;
}
/**********************************************/