<form method="post">
    <fieldset>
        <legend class="sectionChamado">Enviar Mensagem ao CPD</legend>
        <label class="labels labelContato">Assunto</label>
        <input type="text" name="assuntoMsg" class="form-control inputAssunto">
        <label class="labels labelContato" style="margin-top: 5%;">Mensagem</label>
        <br>
        <textarea class="form-control mensagem inputAssunto" rows="11"></textarea>
        <input type="submit" value="Enviar" class="w3-btn w3-teal btnEnviarMensagem">
    </fieldset>
</form>
