/************CADASTRO*************/
#formCadastro{
    display:none;
    position: relative;
}

#formCadastroLeft{
    float: left;
    width: 50%;
    height: 350px;

}

#formCadastroRight{
    float: right;
    width: 50%;
    height: 350px;
}

.inputSubscribeLeft{
    width: 90%;
    margin-left: 3%;
    margin-bottom: 20px;
    border: 2px solid #D2D5C1;
}

.labelSubscribeLeft{
    margin-left: 3%;
    margin-top: 3%;	
}

.inputSubscribeRight{
    margin-top: 0px;
    margin-bottom: 73px;
    margin-left: 3%;
    width: 90%;
    border: 2px solid #D2D5C1;
}

.inputSubscribeVinculo {
    border: none;
}

.labelSubscribeRight{
    margin-left: 2%;
    margin-top: 3%;
}

.btnSubscribe{
    float: right;
    width: 20%;
    margin-right: 27%;
    margin-top: 30px;
}

.btnCancelSubscribe{
    float:left;
    width: 20%;
    margin-left: 27%;
    margin-top: 30px;
}
/********************************/
