<form method="post">
    <label class="labels labelSenha">Senha Antiga</label>
    <input type="password" name="oldPassword" class="form-control inputSenha">
    <label class="labels labelSenha">Nova Senha</label>
    <input type="password" name="newPassword" class="form-control inputSenha">
    <label class="labels labelSenha">Confirmar Nova Senha</label>
    <input type="password" name="confirmNewPassword" class="form-control inputSenha">
    <input type="submit" value="Enviar" class="w3-btn w3-teal btnEnviarSenha">
</form>
