#cadastrar{
    float: left;
    position: relative;
    width: 21.5%;
    height: 200px;
    text-align: center;
    margin-top: 100px;
    margin-left: 7%;
}

#local{
    float: left;
    position: relative;
    width: 21.5%;
    height: 200px;
    text-align: center;
    margin-top: 100px;
    
    
}

#relatorio{
    float: left;
    position: relative;
    width: 21.5%;
    height: 200px;
    text-align: center;
    margin-top: 100px;
    
    
}

#bloquear{
    float: left;
    position: relative;
    width: 21.5%;
    height: 200px;
    text-align: center;
    margin-top: 100px;
    
    
}

#gerenciar{
    float: left;
    position: relative;
    width: 21.5%;
    height: 200px;
    text-align: center;
    margin-top: 100px;
    
    
    
}

.divButton{
                background: -moz-linear-gradient(top, #ebeff2, #ccd5df); 
                border: 1px solid #ACBECF;
                cursor: pointer;
            }
             
            .divButton:hover{
                -o-box-shadow: 2px 2px 19px #CCC;
                -webkit-box-shadow: 2px 2px 19px #CCC;
                -moz-box-shadow: 2px 2px 19px #CCC;
            }
             
            .divButton:active{
                -o-box-shadow: 2px 2px 19px #FFCC00;
                -webkit-box-shadow: 2px 2px 19px #FFCC00;
                -moz-box-shadow: 2px 2px 19px #FFCC00;
            }

.opcoes-icons{
     color: transparent;
     font-size: 100px;
     -webkit-text-stroke-width: 3px;
     -webkit-text-stroke-color: #26a69a  ;
    
}

.menu-text{
    font-size: 25px;
    font-family: varela;
    color: #005B4A;
}

