<!doctype html>
<html>
    <head>
        <meta charset="UTF-8">

        <!-- Adicionando Folhas de Estilo CSS -->
        <link rel="stylesheet" type="text/css" href="CSS/w3.css">
        <link rel="stylesheet" type="text/css" href="CSS/bootstrap/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="CSS/layout_secundario.css">
        <link rel="stylesheet" href="CSS/font-awesome/css/font-awesome.min.css">
        <link rel="stylesheet" type="text/css" href="CSS/layout_home.css">
        <link rel="stylesheet" type="text/css" href="CSS/layout_geral.css">

        <!-- Adicionando scripts JavaScript -->
        <script src="JavaScript/jquery-2.1.4.min.js"></script>
        <script src="JavaScript/home_scripts.js"></script>

        <title>HelpDesk FGA &bull; Home</title>
    </head>
    <body>
        <header class="w3-teal">
            <span class="fa fa-desktop fa-5x icone-computador"></span>
            <h1>HelpDesk <span id="fga-logo">FGA</span></h1>
            <div id="titulo-bemvindo">
                <span class="msg-bemvindo">Bem-Vindo, Fulano!</span>
                &nbsp;&nbsp;<span class="fa fa-bell-o"></span>
                <div id="sair-conta">
                    <a href="../index.html">sair&nbsp;<span class="fa fa-sign-out"></span></a>
                </div>
            </div>

        </header>
        <section id="corpo-principal" class="w3-container">
            <div class="w3-card-8" id="card-chamado">
                <div class="w3-container w3-teal">
                    <span class="fa fa-commenting fa-3x icones"></span><h2>Realizar Chamado</h2>
                </div>
                <form method="post" action="formChamado/chamado.php">
                    <fieldset>
                        <legend class="sectionChamado">Dados do Patrimônio</legend>
                        <div id="formChamadoLeftUpper">
                            <label class="labels labelChamadoLeftUpper">Nome</label>
                            <input type="text" name="nomePatrimonio" class="form-control inputChamado inputChamadoleftUpper">
                            <label class="labels labelChamadoLeftUpper labelMarcaPatrimonio">Marca</label>
                            <input type="text" name="marcaPatrimonio" class="form-control inputChamado inputChamadoleftUpper">
                        </div>
                        <div id="formChamadoRightUpper">
                            <label class="labels labelChamadoRightUpper">Código</label>
                            <input type="text" name="codPatrimonio" class="form-control inputChamado inputChamadoRightUpper inputCodPatrimonio">

                            <label class="labels labelChamadoRightUpper">Tipo</label>
                            <br>
                            <select class="form-control inputChamado inputChamadoRightUpper inputTipoPatrimonio" name="tipoPatrimonio">
                                <option>Notebook</option>
                                <option>Peiférico de Computador</option>
                                <option>Ar-Condicionado</option>
                                <option>Carteira</option>
                            </select>
                        </div>
                    </fieldset>
                    <br>
                    <fieldset>
                        <legend class="sectionChamado">Localização e Descrição do Problema</legend>
                        <div id="chamadoLocalizacao">
                            <label class="labels labelEdificio labelLocal">Edifício</label>
                            <input type="text" name="edificio" class="form-control inputLocal inputChamado">
                            <br>
                            <label class="labels labelSala labelLocal">Sala</label>
                            <input type="text" name="sala" class="form-control inputLocal inputSala inputChamado">
                        </div>
                        <div id="chamadoDescricao">
                            <label class="labels labelDescricao">Descrição</label>
                            <textarea class="form-control descricao inputChamado" rows="6"></textarea>
                        </div>
                    </fieldset>
                    <input type="submit" value="Enviar" class="w3-btn w3-teal w3-ripple botao-enviar-chamado">
                </form>
            </div>
            <div class="w3-card-8" id="card-acoes">
                <div class="w3-container w3-teal">
                    <span id="iconeAcao" class="fa fa-list fa-3x icones"></span><h2 id="titleAcoes">Ações</h2>
                </div>
                <div class="btnAcoes" id="btnAcoes">
                    <button class="w3-btn w3-teal w3-ripple btnAlterDados btnHistorico">Histórico<span class="fa fa-history iconsButtons"></span></button>
                    <button class="w3-btn w3-teal w3-ripple btnMensagens">Mensagens<span class="fa fa-envelope iconsButtons"></span></button>
                    <button class="w3-btn w3-green w3-ripple btnAlterSenha btnContato">Entrar em Contato<span class="fa fa-mail-forward iconsButtons"></span></button>
                </div>

                <div id="formContato">
                    <form method="post">
                        <fieldset>
                            <legend class="sectionChamado">Enviar Mensagem ao CPD</legend>
                            <label class="labels labelContato">Assunto</label>
                            <input type="text" name="assuntoMsg" class="form-control inputAssunto">
                            <label class="labels labelContato" style="margin-top: 5%;">Mensagem</label>
                            <br>
                            <textarea class="form-control mensagem inputAssunto" rows="11"></textarea>
                            <input type="submit" value="Enviar" class="w3-btn w3-teal btnEnviarMensagem">
                        </fieldset>
                    </form>
                    <button class="w3-btn w3-green w3-ripple cancelarMensagem">Cancelar</button>
                </div>
                <div id="caixa-mensagens">
                    <button class="w3-btn w3-teal botao-voltar-mensagens"><span class="fa fa-chevron-left"></span>&nbsp;&nbsp;Voltar</button>
                </div>
                <div id="card-historico">
                    <button class="w3-btn w3-teal btnVoltar"><span class="fa fa-chevron-left"></span>&nbsp;&nbsp;Voltar</button>
                </div>
            </div>
            <div class="w3-card-8" id="card-config-conta">
                <div class="w3-container w3-teal">
                    <span id="iconConfigConta" class="fa fa-cogs fa-3x icones"></span><h2 id="titleConfigConta">Configurar Conta</h2>
                </div>
                <div class="btnConfigConta" id="btnConfigConta">
                    <button class="w3-btn w3-teal w3-ripple btnAlterDados" id="btnAlterDados">Alterar Dados<span class="fa fa-cog iconsButtons"></span></button>
                    <button class="w3-btn w3-green w3-ripple btnAlterSenha btnChangePassword">Alterar Senha<span class="fa fa-key iconsButtons"></span></button>
                </div>
                <div id="formChangePassword">
                    <form method="post">
                        <label class="labels labelSenha">Senha Antiga</label>
                        <input type="password" name="oldPassword" class="form-control inputSenha">
                        <label class="labels labelSenha">Nova Senha</label>
                        <input type="password" name="newPassword" class="form-control inputSenha">
                        <label class="labels labelSenha">Confirmar Nova Senha</label>
                        <input type="password" name="confirmNewPassword" class="form-control inputSenha">
                        <input type="submit" value="Enviar" class="w3-btn w3-teal btnEnviarSenha">
                    </form>
                    <button class="w3-btn w3-green cancelarSenha">Cancelar</button>
                </div>
                <div id="formAlterDados">
                    <form method="post">
                        <fieldset class="sectionChamado">
                            <legend>Alterar Dados</legend>
                            <label class="labels labelAlterDados">Nome Completo</label>
                            <input type="text" name="novoNome" class="form-control inputAlterDados">
                            <label class="labels labelAlterDados">Matrícula</label>
                            <input type="text" name="novaMatricula" class="form-control inputAlterDados">
                            <label class="labels labelAlterDados">Vinculo com a UnB</label>
                            <br>
                            <input type="radio" name="novoVinculo" value="aluno"> <span class="labels" style="font-size:14px;">Aluno</span>
                            <input type="radio" name="novoVinculo" value="servidor" style="margin-left:60px"> <span class="labels" style="font-size:14px;">Servidor</span>
                            <br>
                            <label class="labels labelAlterDados">Email</label>
                            <input type="text" name="novoEmail" class="form-control inputAlterDados">
                            <input type="submit" value="Alterar" class="w3-btn w3-teal btnAlter">
                        </fieldset>
                    </form>
                    <button class="w3-btn w3-green cancelAlterDados">Cancelar</button>
                </div>
            </div>
        </section>
        <footer id="rodape" style="margin-bottom">
            <span class="footerContent">sobre &nbsp; &bull; &nbsp; desenvolvedores &nbsp; &bull; &nbsp; termos de serviço &nbsp; &bull; &nbsp; política de privacidade &nbsp; &bull; &nbsp;todos os direitos reservados &copy; 2015</span>
        </footer>	


    </body>
</html>
